paper/old_paper.tex
paper/paper.aux
*.pdf
paper/paper.log
*.gz
*.opensdf
Code/CS580HW5.sdf
*.suo
code/debug
code/ipch
code/project_tests/debug
Code/Project_Tests/Project_Tests.vcxproj.user
*.sdf
Code/CS580HW5.vcxproj.filters
paper/paper.out